# Ignore compiled files
*.ko
*.o
.*
Module.symvers
*.mod
*.mod.c
modules.order
*.csv
*.png

# Ignore IDE files
.idea/
.vscode/

# Ignore sensitive files
# config.py
# api_keys.txt

# Ignore traces and collected data
traces/
dataprocessing/
scripts/fg_bg.csv
send_files.sh
tmp/
refactorings/
cmake-build-debug

